[
  {
    "name": "MD5",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_MD5",
    "files": [
      "test/test_crypto.c",
      "src/hash/md5.c",
      "src/codec/dec32le.c",
      "src/codec/enc32le.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "SHA1",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_SHA1",
    "files": [
      "test/test_crypto.c",
      "src/hash/sha1.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "SHA224",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_SHA224",
    "files": [
      "test/test_crypto.c",
      "src/hash/sha2small.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "SHA256",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_SHA256",
    "files": [
      "test/test_crypto.c",
      "src/hash/sha2small.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "SHA384",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_SHA384",
    "files": [
      "test/test_crypto.c",
      "src/hash/sha2big.c",
      "src/codec/dec64be.c",
      "src/codec/enc64be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "SHA512",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_SHA512",
    "files": [
      "test/test_crypto.c",
      "src/hash/sha2big.c",
      "src/codec/dec64be.c",
      "src/codec/enc64be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "MD5_SHA1",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_MD5_SHA1",
    "files": [
      "test/test_crypto.c",
      "src/hash/md5.c",
      "src/hash/md5sha1.c",
      "src/hash/sha1.c",
      "src/rand/hmac_drbg.c",
      "src/codec/dec32le.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c",
      "src/codec/enc32le.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "multihash",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_multihash",
    "files": [
      "test/test_crypto.c",
      "src/hash/md5.c",
      "src/hash/multihash.c",
      "src/hash/sha1.c",
      "src/hash/sha2big.c",
      "src/hash/sha2small.c",
      "src/codec/dec32be.c",
      "src/codec/dec32le.c",
      "src/codec/dec64be.c",
      "src/codec/enc32be.c",
      "src/codec/enc32le.c",
      "src/codec/enc64be.c"
    ],
    "address-alignment": 4,
    "no-results": true,
    "val-timeout": 3600
  },
  {
    "name": "HMAC",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_HMAC",
    "files": [
      "test/test_crypto.c",
      "src/mac/hmac.c",
      "src/mac/hmac_ct.c",
      "src/hash/md5.c",
      "src/codec/dec32le.c",
      "src/codec/enc32le.c",
      "src/hash/sha1.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c",
      "src/hash/sha2small.c",
      "src/hash/sha2big.c",
      "src/codec/dec64be.c",
      "src/codec/ccopy.c",
      "src/codec/enc64be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "HKDF",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_HKDF",
    "files": [
      "test/test_crypto.c",
      "src/kdf/hkdf.c",
      "src/hash/sha1.c",
      "src/mac/hmac.c",
      "src/hash/sha2small.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "SHAKE",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_SHAKE",
    "files": [
      "test/test_crypto.c",
      "src/kdf/shake.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "HMAC_DRBG",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_HMAC_DRBG",
    "files": [
      "test/test_crypto.c",
      "src/rand/hmac_drbg.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  /*{
    "name": "AESCTR_DRBG",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AESCTR_DRBG",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_x86ni_ctr.c"
    ]
  },*/
  {
    "name": "PRF",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_PRF",
    "files": [
      "test/test_crypto.c",
      "src/ssl/prf_md5sha1.c",
      "src/ssl/prf_sha256.c",
      "src/ssl/prf_sha384.c",
      "src/ssl/prf.c",
      "src/hash/md5.c",
      "src/hash/sha1.c",
      "src/hash/sha2big.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/dec32le.c",
      "src/codec/dec64be.c",
      "src/codec/enc32be.c",
      "src/codec/enc32le.c",
      "src/codec/enc64be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "AES_big",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_big",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_big_cbcdec.c",
      "src/symcipher/aes_big_cbcenc.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/aes_big_ctr.c",
      "src/symcipher/aes_big_dec.c",
      "src/symcipher/aes_big_enc.c",
      "src/symcipher/aes_common.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "AES_small",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_small",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_small_cbcdec.c",
      "src/symcipher/aes_small_cbcenc.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/aes_common.c",
      "src/symcipher/aes_small_ctr.c",
      "src/symcipher/aes_small_dec.c",
      "src/symcipher/aes_small_enc.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "AES_ct",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_ct",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_ct_cbcdec.c",
      "src/symcipher/aes_ct_cbcenc.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/aes_ct.c",
      "src/symcipher/aes_ct_ctr.c",
      "src/symcipher/aes_ct_dec.c",
      "src/symcipher/aes_ct_enc.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "AES_ct64",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_ct64",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_ct64_cbcdec.c",
      "src/symcipher/aes_ct64_cbcenc.c",
      "src/codec/dec32le.c",
      "src/symcipher/aes_ct64.c",
      "src/symcipher/aes_ct64_enc.c",
      "src/codec/enc32le.c",
      "src/symcipher/aes_ct64_dec.c",
      "src/rand/hmac_drbg.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c",
      "src/symcipher/aes_ct64_ctr.c",
      "src/hash/sha2small.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "AES_pwr8",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_pwr8",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_pwr8_cbcenc.c",
      "src/symcipher/aes_pwr8_cbcdec.c",
      "src/symcipher/aes_pwr8_ctr.c"
    ]
  },
  /*{
    "name": "AES_x86ni",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_x86ni",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_x86ni_cbcenc.c"
    ]
  },*/
  {
    "name": "AES_CTRCBC_big",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_CTRCBC_big",
    "files": [
      "test/test_crypto.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/aes_big_ctrcbc.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/symcipher/aes_big_ctr.c",
      "src/symcipher/aes_big_enc.c",
      "src/symcipher/aes_common.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "AES_CTRCBC_small",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_CTRCBC_small",
    "files": [
      "test/test_crypto.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/aes_small_ctrcbc.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/symcipher/aes_big_ctr.c",
      "src/symcipher/aes_common.c",
      "src/symcipher/aes_small_enc.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c",
      "src/symcipher/aes_big_enc.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "AES_CTRCBC_ct",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_CTRCBC_ct",
    "files": [
      "test/test_crypto.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/aes_ct_ctrcbc.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/symcipher/aes_big_ctr.c",
      "src/symcipher/aes_ct.c",
      "src/symcipher/aes_ct_enc.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c",
      "src/symcipher/aes_big_enc.c",
      "src/symcipher/aes_common.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "AES_CTRCBC_ct64",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_CTRCBC_ct64",
    "files": [
      "test/test_crypto.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/aes_ct64_ctrcbc.c",
      "src/codec/enc32le.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/symcipher/aes_big_ctr.c",
      "src/symcipher/aes_ct64.c",
      "src/symcipher/aes_ct64_enc.c",
      "src/codec/dec32be.c",
      "src/codec/dec32le.c",
      "src/codec/enc32be.c",
      "src/symcipher/aes_big_enc.c",
      "src/symcipher/aes_common.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  /*{
    "name": "AES_CTRCBC_x86ni",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_CTRCBC_x86ni",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_x86ni_ctrcbc.c"
    ]
  },*/
  {
    "name": "AES_CTRCBC_pwr8",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_AES_CTRCBC_pwr8",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/aes_pwr8_ctrcbc.c"
    ]
  },
  {
    "name": "DES_tab",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_DES_tab",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/des_tab_cbcdec.c",
      "src/symcipher/des_tab_cbcenc.c",
      "src/symcipher/des_support.c",
      "src/symcipher/des_tab.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "DES_ct",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_DES_ct",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/des_ct_cbcdec.c",
      "src/symcipher/des_ct_cbcenc.c",
      "src/symcipher/des_ct.c",
      "src/symcipher/des_support.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "ChaCha20_ct",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_ChaCha20_ct",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/chacha20_ct.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600 /* OOM */
  },
  /*{
    "name": "ChaCha20_sse2",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_ChaCha20_sse2",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/chacha20_sse2.c"
    ]
  },*/
  {
    "name": "Poly1305_ctmul",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_Poly1305_ctmul",
    "files": [
      "test/test_crypto.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/poly1305_ctmul.c",
      "src/symcipher/poly1305_i15.c",
      "src/hash/sha2small.c",
      "src/int/i15_decmod.c",
      "src/int/i15_montmul.c",
      "src/mac/hmac.c",
      "src/symcipher/chacha20_ct.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c",
      "src/int/i15_add.c",
      "src/int/i15_encode.c",
      "src/int/i15_sub.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "Poly1305_ctmul32",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_Poly1305_ctmul32",
    "files": [
      "test/test_crypto.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/poly1305_ctmul32.c",
      "src/symcipher/poly1305_i15.c",
      "src/hash/sha2small.c",
      "src/int/i15_decmod.c",
      "src/int/i15_montmul.c",
      "src/mac/hmac.c",
      "src/symcipher/chacha20_ct.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c",
      "src/int/i15_add.c",
      "src/int/i15_encode.c",
      "src/int/i15_sub.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "Poly1305_ctmulq",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_Poly1305_ctmulq",
    "files": [
      "test/test_crypto.c",
      "src/symcipher/poly1305_ctmulq.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/chacha20_ct.c",
      "src/symcipher/poly1305_ctmul.c",
      "src/hash/sha2small.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "name": "Poly1305_i15",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_Poly1305_i15",
    "files": [
      "test/test_crypto.c",
      "src/rand/hmac_drbg.c",
      "src/symcipher/poly1305_ctmul.c",
      "src/symcipher/poly1305_i15.c",
      "src/int/i15_decmod.c",
      "src/int/i15_montmul.c",
      "src/symcipher/chacha20_ct.c",
      "src/hash/sha2small.c",
      "src/int/i15_add.c",
      "src/int/i15_encode.c",
      "src/int/i15_sub.c",
      "src/mac/hmac.c",
      "src/codec/dec32be.c",
      "src/codec/enc32be.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },
  /*{
    "name": "RSA_i15",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_RSA_i15",
    "files": [
      "test/test_crypto.c",
      "src/hash/sha1.c",
      "src/rand/hmac_drbg.c",
      "src/rsa/rsa_i15_keygen.c",
      "src/rsa/rsa_i15_oaep_decrypt.c",
      "src/rsa/rsa_i15_oaep_encrypt.c",
      "src/rsa/rsa_i15_pkcs1_sign.c",
      "src/rsa/rsa_i15_pkcs1_vrfy.c",
      "src/rsa/rsa_i15_priv.c",
      "src/rsa/rsa_i15_pss_sign.c",
      "src/rsa/rsa_i15_pss_vrfy.c",
      "src/rsa/rsa_i15_pub.c",
      "src/codec/dec32be.c",
      "src/int/i15_add.c",
      "src/int/i15_decmod.c",
      "src/int/i15_decode.c",
      "src/int/i15_decred.c",
      "src/int/i15_encode.c",
      "src/int/i15_modpow2.c",
      "src/int/i15_montmul.c",
      "src/int/i15_mulacc.c",
      "src/int/i15_ninv15.c",
      "src/int/i15_reduce.c",
      "src/int/i15_sub.c",
      "src/int/i15_tmont.c",
      "src/codec/ccopy.c",
      "src/codec/enc32be.c",
      "src/hash/sha2small.c",
      "src/int/i15_bitlen.c",
      "src/int/i15_fmont.c",
      "src/int/i15_moddiv.c",
      "src/int/i15_muladd.c",
      "src/int/i15_rshift.c",
      "src/mac/hmac.c",
      "src/rsa/rsa_i15_modulus.c",
      "src/rsa/rsa_i15_privexp.c",
      "src/rsa/rsa_i15_pubexp.c",
      "src/rsa/rsa_oaep_pad.c",
      "src/rsa/rsa_oaep_unpad.c",
      "src/rsa/rsa_pkcs1_sig_pad.c",
      "src/rsa/rsa_pkcs1_sig_unpad.c",
      "src/rsa/rsa_pss_sig_pad.c",
      "src/rsa/rsa_pss_sig_unpad.c",
      "src/hash/mgf1.c",
      "src/int/i32_div32.c"
    ],
    "address-alignment": 4,
    "val-timeout": 3600
  },*/
  {
    "name": "RSA_i31",
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "val-warn-harmless-function-pointers": false,
    "main": "test_RSA_i31",
    "files": [
      "test/test_crypto.c",
      "src/hash/sha1.c",
      "src/rand/hmac_drbg.c",
      "src/rsa/rsa_i31_keygen.c",
      "src/rsa/rsa_i31_oaep_decrypt.c",
      "src/rsa/rsa_i31_oaep_encrypt.c",
      "src/rsa/rsa_i31_pkcs1_sign.c",
      "src/rsa/rsa_i31_pkcs1_vrfy.c",
      "src/rsa/rsa_i31_priv.c",
      "src/rsa/rsa_i31_pss_sign.c",
      "src/rsa/rsa_i31_pss_vrfy.c",
      "src/rsa/rsa_i31_pub.c",
      "src/int/i31_decode.c",
      "src/codec/dec32be.c",
      "src/int/i31_add.c",
      "src/int/i31_bitlen.c",
      "src/int/i31_decmod.c",
      "src/int/i31_decred.c",
      "src/int/i31_encode.c",
      "src/int/i31_modpow2.c",
      "src/int/i31_montmul.c",
      "src/int/i31_mulacc.c",
      "src/int/i31_ninv31.c",
      "src/int/i31_reduce.c",
      "src/int/i31_sub.c",
      "src/int/i31_tmont.c",
      "src/codec/ccopy.c",
      "src/codec/enc32be.c",
      "src/hash/sha2small.c",
      "src/int/i31_fmont.c",
      "src/int/i31_muladd.c",
      "src/int/i31_rshift.c",
      "src/mac/hmac.c",
      "src/rsa/rsa_i31_keygen_inner.c",
      "src/rsa/rsa_oaep_pad.c",
      "src/rsa/rsa_oaep_unpad.c",
      "src/rsa/rsa_pkcs1_sig_pad.c",
      "src/rsa/rsa_pkcs1_sig_unpad.c",
      "src/rsa/rsa_pss_sig_pad.c",
      "src/rsa/rsa_pss_sig_unpad.c",
      "src/hash/mgf1.c",
      "src/int/i31_moddiv.c",
      "src/int/i32_div32.c",
      "src/rsa/rsa_i31_modulus.c",
      "src/rsa/rsa_i31_privexp.c",
      "src/rsa/rsa_i31_pubexp.c"
    ],
    "address-alignment": 4,
    "no-results": true,
    "val-timeout": 3600
  }/*,
  {
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "files": [
      "test/test_crypto.c",
      "src/hash/sha1.c",
      "src/rsa/rsa_i32_oaep_decrypt.c",
      "src/rsa/rsa_i32_oaep_encrypt.c",
      "src/rsa/rsa_i32_pkcs1_sign.c",
      "src/rsa/rsa_i32_pkcs1_vrfy.c",
      "src/rsa/rsa_i32_priv.c",
      "src/rsa/rsa_i32_pss_sign.c",
      "src/rsa/rsa_i32_pss_vrfy.c",
      "src/rsa/rsa_i32_pub.c",
      "src/int/i32_decode.c",
      "src/codec/dec32be.c",
      "src/int/i32_add.c",
      "src/int/i32_bitlen.c",
      "src/int/i32_decmod.c",
      "src/int/i32_decred.c",
      "src/int/i32_encode.c",
      "src/int/i32_modpow.c",
      "src/int/i32_montmul.c",
      "src/int/i32_mulacc.c",
      "src/int/i32_ninv32.c",
      "src/int/i32_reduce.c",
      "src/int/i32_sub.c",
      "src/int/i32_tmont.c",
      "src/codec/ccopy.c",
      "src/codec/enc32be.c",
      "src/int/i32_muladd.c",
      "src/rsa/rsa_oaep_pad.c",
      "src/rsa/rsa_oaep_unpad.c",
      "src/rsa/rsa_pkcs1_sig_pad.c",
      "src/rsa/rsa_pkcs1_sig_unpad.c",
      "src/rsa/rsa_pss_sig_pad.c",
      "src/rsa/rsa_pss_sig_unpad.c",
      "src/int/i32_div32.c"
    ],
    "main": "test_RSA_i32",
    "name": "RSA_i32",
    "val-warn-harmless-function-pointers": false,
    "address-alignment": 4,
    "val-timeout": 3600
  },
  {
    "compilation_cmd": " -I . -I inc -I src",
    "compilation_database": [
      "compile_commands.json"
    ],
    "files": [
      "test/test_crypto.c",
      "src/rsa/rsa_i62_pub.c",
      "src/rsa/rsa_i62_priv.c",
      "src/rsa/rsa_i62_pkcs1_sign.c",
      "src/rsa/rsa_i62_pkcs1_vrfy.c",
      "src/rsa/rsa_i62_pss_sign.c",
      "src/rsa/rsa_i62_pss_vrfy.c",
      "src/rsa/rsa_i62_oaep_encrypt.c",
      "src/rsa/rsa_i62_oaep_decrypt.c",
      "src/rsa/rsa_i62_keygen.c",
      "src/int/i31_decode.c",
      "src/hash/sha1.c",
      "src/int/i31_add.c",
      "src/int/i31_bitlen.c",
      "src/int/i31_decmod.c",
      "src/int/i31_decred.c",
      "src/int/i31_encode.c",
      "src/int/i31_montmul.c",
      "src/int/i31_mulacc.c",
      "src/int/i31_ninv31.c",
      "src/int/i31_reduce.c",
      "src/int/i31_sub.c",
      "src/int/i31_tmont.c",
      "src/int/i62_modpow2.c",
      "src/rand/hmac_drbg.c",
      "src/rsa/rsa_i31_keygen_inner.c",
      "src/rsa/rsa_oaep_pad.c",
      "src/rsa/rsa_oaep_unpad.c",
      "src/rsa/rsa_pkcs1_sig_pad.c",
      "src/rsa/rsa_pkcs1_sig_unpad.c",
      "src/rsa/rsa_pss_sig_pad.c",
      "src/rsa/rsa_pss_sig_unpad.c",
      "src/codec/dec32be.c",
      "src/int/i31_modpow.c",
      "src/int/i31_muladd.c",
      "src/int/i31_rshift.c",
      "src/codec/ccopy.c",
      "src/codec/enc32be.c",
      "src/int/i32_div32.c"
    ],
    "main": "test_RSA_i62",
    "name": "RSA_i62",
    "val-warn-harmless-function-pointers": false,
    "address-alignment": 4,
    "val-timeout": 3600
  }*/
]
